*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header, .footer {
  text-align: center;
  padding: 20px 0;
  
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-right: 20px;
  
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20%;
  max-width: 120%;
  margin: auto;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  min-width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.slider-content {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #7e1a1ab0;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider-btn.prev {
  left: 10px;
}

.slider-btn.next {
  right: 10px;
}

.footer {
  color: #fff;
}

.vertical-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 0%;
}

.vertical-block {
  width: 90%;
  max-width: 150%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
}

.vertical-block img {
  width: 70%;
  height: 60%;
  object-fit: cover;
  border-radius: 5%;
  margin: auto;
}

.vertical-block .content {
  flex: 1;
  padding: 30px;
}

.vertical-block h2 {
  margin-top: 0;
}

.vertical-block p {
  margin-bottom: 10px;
}